In [958]:
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression, Lars, ElasticNet, Lasso, Ridge, BayesianRidge

%matplotlib inline
import pygal
import math
import numpy as np
from IPython.display import display, HTML
base_html = """
<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
  <script type="text/javascript" src="https://kozea.github.io/pygal.js/2.0.x/pygal-tooltips.min.js""></script>
  </head>
  <body>
    <figure>
      {rendered_chart}
    </figure>
  </body>
</html>
"""

In [1074]:
amt1_train=pd.read_csv('./Datos/train_PAY_AMT1.csv')
amt1_val=pd.read_csv('./Datos/val_PAY_AMT1.csv')

In [1075]:
amt1_train

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,27942,200000.0,2,2,2,27,0,0,-1,-1,...,18834.0,0.0,0.0,0.0,5000.0,18834.0,60000.0,0.0,0.0,0.0
1,4342,50000.0,1,2,1,32,0,0,0,0,...,46919.0,17459.0,17825.0,18193.0,1998.0,3000.0,625.0,647.0,664.0,649.0
2,17333,50000.0,2,2,1,29,0,0,0,0,...,23122.0,24654.0,26365.0,25844.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0
3,27601,100000.0,2,1,2,28,0,0,0,0,...,13534.0,16158.0,6700.0,7730.0,5800.0,6000.0,4375.0,6700.0,3000.0,0.0
4,23311,20000.0,2,2,1,46,1,2,0,0,...,3800.0,0.0,0.0,0.0,0.0,1000.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20995,5907,50000.0,2,2,1,46,0,0,0,0,...,49222.0,29291.0,29391.0,29826.0,2438.0,2200.0,1187.0,1213.0,1073.0,1066.0
20996,24224,580000.0,1,1,2,32,-1,0,0,0,...,38111.0,33497.0,26800.0,22202.0,11686.0,8348.0,6593.0,7197.0,10097.0,133081.0
20997,21561,50000.0,2,2,2,23,1,-1,0,0,...,6175.0,10000.0,1952.0,406.0,5896.0,2006.0,5074.0,1300.0,406.0,0.0
20998,20874,200000.0,1,1,2,33,0,0,0,2,...,62286.0,61305.0,62846.0,42634.0,5000.0,5700.0,2000.0,3000.0,2000.0,1000.0
20999,25408,150000.0,2,2,1,24,1,-1,-1,-1,...,8004.0,521.0,3776.0,165.0,16924.0,8004.0,521.0,3776.0,165.0,356.0

In [1076]:
amt1_train.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT2', 'BILL_AMT3',
       'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [1077]:
def plot_hist(df,value,route=""):
    info=df[value].describe()
    r=info["max"]-info["min"]
    k=math.ceil(1+3.322*math.log10(info["count"]))
    a=int(round(r/k))
    ranges=[]
    for i in range(int(info["min"]),int(info["max"]+2),a):
        ranges.append(i)
    aux=np.histogram(df[value], bins=ranges)
    histograma=[]
    for i in range(len(aux[0])):
        histograma.append([aux[0][i],aux[1][i],aux[1][i+1]])
    hist = pygal.Histogram()
    hist.add(value,histograma)
    if route!='':
        return hist.render_to_png(route)
    display(HTML(base_html.format(rendered_chart=hist.render(is_unicode=True))))

In [1078]:
plot_hist(aux2,"PAY_AMT3")

In [1079]:
def iqr(df,variable):
    desc = df[variable].describe()
    iqr_value= desc["75%"]- desc["25%"]
    bandaIzq = desc["25%"] - (3*iqr_value)
    bandaDer = desc["75%"] + (3*iqr_value)
    aux = df.copy()
    return aux[(aux[variable]>bandaIzq) & (aux[variable]<bandaDer)]

In [1080]:
def percentiles(df,variable,percent):
    desc = df[variable].describe(percentiles=[0.01,0.99])
    aux = df.copy()
    return aux[(aux[variable]>=desc["1%"]) & (aux[variable]<=desc["99%"])]

In [1081]:
def media(df,variable,n_sigma):
    media = df[variable].mean()
    sigma = df[variable].std()
    aux = df.copy()
    return aux[(media-n_sigma*sigma <= aux[variable])  & (aux[variable] <= media + n_sigma*sigma )]

In [1082]:
comparacion = pd.DataFrame()
comparacion["nombre"]=test
ls_iqr=[]
ls_mediana=[]
ls_percentiles=[]
for i in test:
    ls_iqr.append(iqr(amt1_train,i).shape[0]/amt1_train.shape[0])
    ls_mediana.append(media(amt1_train,i,3).shape[0]/amt1_train.shape[0])
    ls_percentiles.append(percentiles(amt1_train,i,[0.01,0.99]).shape[0]/amt1_train.shape[0])
comparacion["iqr"]=ls_iqr
comparacion["mediana"]=ls_mediana
comparacion["percentiles"]=ls_percentiles
comparacion

      nombre       iqr   mediana  percentiles
0  BILL_AMT2  0.973619  0.977905     0.980000
1  BILL_AMT3  0.971857  0.978476     0.980000
2  BILL_AMT4  0.970524  0.978190     0.980286
3  BILL_AMT5  0.968429  0.978429     0.980000
4  BILL_AMT6  0.969000  0.978619     0.980000
5   PAY_AMT2  0.944762  0.990095     0.990000
6   PAY_AMT3  0.947762  0.987571     0.990000
7   PAY_AMT4  0.946095  0.986095     0.990000
8   PAY_AMT5  0.947429  0.986381     0.990000
9   PAY_AMT6  0.944524  0.985048     0.990000

In [1150]:
bill=['BILL_AMT2', 'BILL_AMT3','BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6']
pay=['PAY_AMT1','PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
aux2=iqr(amt1_train,"BILL_AMT2")
aux2=iqr(aux2,"BILL_AMT3")
aux2=iqr(aux2,"BILL_AMT5")
aux2=iqr(aux2,"BILL_AMT6")

aux2=percentiles(aux2,"PAY_AMT2",[0.01,0.99])
aux2=percentiles(aux2,"PAY_AMT3",[0.01,0.99])
aux2=percentiles(aux2,"PAY_AMT4",[0.01,0.99])
#aux2=iqr(aux2,"BILL_AMT3")
#aux2=iqr(aux2,"BILL_AMT5")
#aux2=iqr(aux2,"BILL_AMT6")
for i in range(2,7):
    for j in range(i,7):
        if i==j:
            continue
        aux2["diff_BILL_AMT{}_{}".format(i,j)]=aux2["BILL_AMT{}".format(i)]-aux2["BILL_AMT{}".format(j)]
        aux2["diff_PAY_AMT{}_{}".format(i,j)]=aux2["PAY_AMT{}".format(i)]-aux2["PAY_AMT{}".format(j)]
        aux2["diff_PAY_BILL{}_{}".format(i,j)]=aux2["BILL_AMT{}".format(i)]-aux2["PAY_AMT{}".format(j)]
    aux2["LIMBAL*BILL_AMT_{}".format(i)]=aux2["BILL_AMT{}".format(i)]*aux2["LIMIT_BAL"]
    aux2["BILL_AMT_{}**2".format(i)]=aux2["BILL_AMT{}".format(i)]**2
    aux2[f"USE_{i}"] = aux2[f"BILL_AMT{i}"] / aux2["LIMIT_BAL"]


#aux2["mean_pay"]=aux2[pay].mean(axis=1)
#aux2["mean_bill"]=aux2[bill].mean(axis=1)
payarr=['PAY_AMT2']
for i in range(3,7):
    payarr.append("PAY_AMT{}".format(i))
    aux2["maxpay_2_{}".format(i)]=aux2[payarr].max(axis=1)
    aux2["minpay_2_{}".format(i)]=aux2[payarr].min(axis=1)
    aux2["meanpay_2_{}".format(i)]=aux2[payarr].mean(axis=1)
    
#billarr=['BILL_AMT2']
#for i in range(3,7):
#    payarr.append("BILL_AMT{}".format(i))    
#    aux2["maxbill_2_{}".format(i)]=aux2[billarr].max(axis=1)
#    aux2["minbill_2_{}".format(i)]=aux2[billarr].min(axis=1)


#aux2["mean_max_min_pay"]=(aux2["max_pay"]+aux2["min_pay"])/2
#aux2["mean_max_min_bill"]=(aux2["max_bill"]+aux2["min_bill"])/2

#aux2["mean_max_min_pay**2"]=aux2["mean_max_min_pay"]**2
#aux2["mean_max_min_bill**2"]=aux2["mean_max_min_bill"]**2

In [1151]:
payarr=['PAY_AMT2']
for i in range(3,7):
    payarr.append("PAY_AMT{}".format(i))

In [1152]:
aux2.shape[0]/amt1_train.shape[0]

0.912047619047619

In [1153]:
test=['BILL_AMT2', 'BILL_AMT3',
       'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

In [1154]:
tgt = "PAY_AMT1"
ls_pred = [x for x in aux2.columns if x not in [tgt]]

In [1155]:
X_train, X_test, y_train, y_test = train_test_split(aux2[ls_pred], aux2[tgt], test_size=0.33, random_state=42)

In [1156]:
linReg = LinearRegression()

In [1157]:
linReg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [1158]:
ls_res = cross_val_score(estimator = linReg, X=X_train, y=y_train, cv=4, n_jobs=-1, scoring="r2")

In [1159]:
ls_res.mean()

0.27030678248752016

In [1093]:
linReg.score(X_train,y_train)

0.2893546547215655

## Regresión Cresta

In [885]:
ridgereg = Ridge()

In [886]:
ridgereg.fit(x, y)

/home/arturo/env/lib/python3.7/site-packages/sklearn/linear_model/ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=3.59119e-26): result may not be accurate.
  overwrite_a=True).T

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [887]:
ls_res = cross_val_score(estimator = ridgereg, X=x, y=y, cv=4, n_jobs=-1, scoring="r2")

In [888]:
ls_res.mean()

0.6993607390097181

## Regresión Lasso

In [889]:
lassreg = Lasso()

In [890]:
lassreg.fit(x, y)

/home/arturo/env/lib/python3.7/site-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 341345363904.3101, tolerance: 231959779.10769317
  positive)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [891]:
ls_res = cross_val_score(estimator = lassreg, X=x, y=y, cv=4, n_jobs=-1, scoring="r2")

In [892]:
ls_res.mean()

0.6993613870734317

## Red elástica

In [893]:
elasnet = ElasticNet()

In [894]:
elasnet.fit(x, y)

/home/arturo/env/lib/python3.7/site-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 345388951740.41656, tolerance: 231959779.10769317
  positive)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [895]:
ls_res = cross_val_score(estimator = elasnet, X=x, y=y, cv=4, n_jobs=-1, scoring="r2")

In [896]:
ls_res.mean()

0.6974901994387575

# Regresion Logistica

In [1044]:
train=pd.read_csv('./Datos/train_default.csv')

In [1045]:
ls_disc = ["SEX", "EDUCATION", "MARRIAGE", "PAY_0", "PAY_2", "PAY_3",
           "PAY_4", "PAY_5", "PAY_6"]
ls_cont = ["LIMIT_BAL", "AGE", "BILL_AMT1", "BILL_AMT2", "BILL_AMT3",
           "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", 
           "PAY_AMT2", "PAY_AMT3", "PAY_AMT4", "PAY_AMT5", "PAY_AMT6"]
tgt = "default.payment.next.month"

In [1056]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [1196]:
bill=['BILL_AMT2', 'BILL_AMT3','BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6']
pay=['PAY_AMT1','PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
aux2=iqr(train,"BILL_AMT2")
aux2=iqr(aux2,"BILL_AMT3")
aux2=iqr(aux2,"BILL_AMT5")
aux2=iqr(aux2,"BILL_AMT6")

aux2=aux2[aux2["MARRIAGE"]>0]
aux2=aux2[aux2["EDUCATION"]>0]

aux2=percentiles(aux2,"PAY_AMT2",[0.01,0.99])
aux2=percentiles(aux2,"PAY_AMT3",[0.01,0.99])
aux2=percentiles(aux2,"PAY_AMT4",[0.01,0.99])
#aux2=iqr(aux2,"BILL_AMT3")
#aux2=iqr(aux2,"BILL_AMT5")
#aux2=iqr(aux2,"BILL_AMT6")
for i in range(2,7):
    for j in range(i,7):
        if i==j:
            continue
        aux2["diff_BILL_AMT{}_{}".format(i,j)]=aux2["BILL_AMT{}".format(i)]-aux2["BILL_AMT{}".format(j)]
        aux2["diff_PAY_AMT{}_{}".format(i,j)]=aux2["PAY_AMT{}".format(i)]-aux2["PAY_AMT{}".format(j)]
        aux2["diff_PAY_BILL{}_{}".format(i,j)]=aux2["BILL_AMT{}".format(i)]-aux2["PAY_AMT{}".format(j)]
    aux2["LIMBAL*BILL_AMT_{}".format(i)]=aux2["BILL_AMT{}".format(i)]*aux2["LIMIT_BAL"]
    aux2["BILL_AMT_{}**2".format(i)]=aux2["BILL_AMT{}".format(i)]**2


#aux2["mean_pay"]=aux2[pay].mean(axis=1)
#aux2["mean_bill"]=aux2[bill].mean(axis=1)
payarr=['PAY_AMT2']
for i in range(3,7):
    payarr.append("PAY_AMT{}".format(i))
    aux2["maxpay_2_{}".format(i)]=aux2[payarr].max(axis=1)
    aux2["minpay_2_{}".format(i)]=aux2[payarr].min(axis=1)
    aux2["meanpay_2_{}".format(i)]=aux2[payarr].mean(axis=1)

In [1197]:
escalar=StandardScaler()

In [1198]:
tgt = "default.payment.next.month"
ls_pred = [x for x in aux2.columns if x not in [tgt]]

In [1199]:
X_train, X_test, y_train, y_test = train_test_split(aux2[ls_disc+ls_cont], aux2[tgt], test_size=0.33, random_state=42)

In [1200]:
X_train=escalar.fit_transform(X_train)
X_test=escalar.transform(X_test)

In [1201]:
regLog=LogisticRegression()

In [1202]:
regLog.fit(X_train,y_train)

/home/arturo/env/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [1203]:
y_pred = regLog.predict(X_test)

In [1204]:
from sklearn.metrics import  confusion_matrix
from sklearn.metrics import  precision_score

In [1205]:
matriz=confusion_matrix(y_test,y_pred)

In [1206]:
matriz

array([[4730,  157],
       [1070,  349]])

In [1207]:
precision=precision_score(y_test,y_pred)

In [1208]:
precision

0.6897233201581028

# CREDIT SCORING

In [1209]:
def IV(df, var, tgt):
    aux = df[[var, tgt]].groupby(var).agg(["count", "sum"])
    aux["evento"] = aux[tgt, "sum"]
    aux["no_evento"] = aux[tgt, "count"] - aux[tgt, "sum"]
    aux["%evento"] = aux["evento"] / aux["evento"].sum()
    aux["%no_evento"] = aux["no_evento"] / aux["no_evento"].sum()
    aux["WOE"] = np.log(aux["%no_evento"] / aux["%evento"])
    aux["IV"] = (aux["%no_evento"] - aux["%evento"])*aux["WOE"]
    return aux["IV"].sum()

In [1210]:
ls_disc = ["SEX", "EDUCATION", "MARRIAGE", "PAY_0", "PAY_2", "PAY_3",
           "PAY_4", "PAY_5", "PAY_6"]
ls_cont = ["LIMIT_BAL", "AGE", "BILL_AMT1", "BILL_AMT2", "BILL_AMT3",
           "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", 
           "PAY_AMT2", "PAY_AMT3", "PAY_AMT4", "PAY_AMT5", "PAY_AMT6"]
tgt = "default.payment.next.month"

In [1211]:
for var in ls_cont:
    aux2[f"C_{var}"] = pd.cut(aux2[var], bins=5).astype(str)

In [1212]:
new_disc = [x for x in df.columns if x.startswith("C_")] + ls_disc
for col in new_disc:
    df[col] = df[col].fillna("Missing")

In [1213]:
df_iv = pd.DataFrame(columns=["iv"])
for var in new_disc:
    df_iv.loc[var, "iv"] = IV(df = df, var = var, tgt = tgt)

/home/arturo/env/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [1214]:
df_iv.sort_values(by = "iv", ascending=False)

                      iv
PAY_6                inf
C_PAY_AMT1           inf
C_PAY_AMT6           inf
PAY_4                inf
PAY_3                inf
PAY_2                inf
PAY_5                inf
C_BILL_AMT1          inf
PAY_0           0.859789
EDUCATION      0.0355072
SEX            0.0103666
MARRIAGE      0.00716248
C_PAY_AMT3    0.00237101
C_AGE         0.00156705
C_BILL_AMT2   0.00135765
C_BILL_AMT5   0.00134457
C_PAY_AMT2    0.00130481
C_BILL_AMT6   0.00125606
C_BILL_AMT3   0.00118166
C_PAY_AMT4    0.00117371
C_BILL_AMT4   0.00109294
C_PAY_AMT5   0.000746932
C_LIMIT_BAL  0.000627841

In [1215]:
ls_best = df_iv[df_iv["iv"] != np.inf].index.tolist()

In [1216]:
ls_best

['C_LIMIT_BAL',
 'C_AGE',
 'C_BILL_AMT2',
 'C_BILL_AMT3',
 'C_BILL_AMT4',
 'C_BILL_AMT5',
 'C_BILL_AMT6',
 'C_PAY_AMT2',
 'C_PAY_AMT3',
 'C_PAY_AMT4',
 'C_PAY_AMT5',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'PAY_0']

In [1217]:
def WOE(df, var, tgt):
    aux = df[[var, tgt]].groupby(var).agg(["count", "sum"])
    aux["evento"] = aux[tgt, "sum"]
    aux["no_evento"] = aux[tgt, "count"] - aux[tgt, "sum"]
    aux["%evento"] = aux["evento"] / aux["evento"].sum()
    aux["%no_evento"] = aux["no_evento"] / aux["no_evento"].sum()
    aux["WOE"] = np.log(aux["%no_evento"] / aux["%evento"])
    aux.columns = aux.columns.droplevel(1)
    aux = aux[["WOE"]].reset_index().rename(columns={"WOE": f"W_{var}"})
    df = df.merge(aux, on = var, how = "left")
    display(aux)
    return df

In [1218]:
aux2.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month', 'diff_BILL_AMT2_3', 'diff_PAY_AMT2_3',
       'diff_PAY_BILL2_3', 'diff_BILL_AMT2_4', 'diff_PAY_AMT2_4',
       'diff_PAY_BILL2_4', 'diff_BILL_AMT2_5', 'diff_PAY_AMT2_5',
       'diff_PAY_BILL2_5', 'diff_BILL_AMT2_6', 'diff_PAY_AMT2_6',
       'diff_PAY_BILL2_6', 'LIMBAL*BILL_AMT_2', 'BILL_AMT_2**2',
       'diff_BILL_AMT3_4', 'diff_PAY_AMT3_4', 'diff_PAY_BILL3_4',
       'diff_BILL_AMT3_5', 'diff_PAY_AMT3_5', 'diff_PAY_BILL3_5',
       'diff_BILL_AMT3_6', 'diff_PAY_AMT3_6', 'diff_PAY_BILL3_6',
       'LIMBAL*BILL_AMT_3', 'BILL_AMT_3**2', 'diff_BILL_AMT4_5',
       'diff_PAY_AMT4_5', 'diff_PAY_BILL4_5', 'diff_BILL_AMT4_6',
       'diff_PAY_AMT4_6', 'diff_PAY_BILL4_6', 'LIMBAL*BILL_AMT_4',
       'BILL_AMT_4**2', 'diff_BILL_AMT5_6', 'diff_PAY_AMT5_6',
       'diff_PAY_BILL5_6', 'LIMBAL*BILL_AMT_5', 'BILL_AMT_5**2',
       'LIMBAL*BILL_AMT_6', 'BILL_AMT_6**2', 'maxpay_2_3', 'minpay_2_3',
       'meanpay_2_3', 'maxpay_2_4', 'minpay_2_4', 'meanpay_2_4', 'maxpay_2_5',
       'minpay_2_5', 'meanpay_2_5', 'maxpay_2_6', 'minpay_2_6', 'meanpay_2_6',
       'C_LIMIT_BAL', 'C_AGE', 'C_BILL_AMT1', 'C_BILL_AMT2', 'C_BILL_AMT3',
       'C_BILL_AMT4', 'C_BILL_AMT5', 'C_BILL_AMT6', 'C_PAY_AMT1', 'C_PAY_AMT2',
       'C_PAY_AMT3', 'C_PAY_AMT4', 'C_PAY_AMT5', 'C_PAY_AMT6'],
      dtype='object')

In [1219]:
for col in ls_best:
    df = WOE(df = aux2, var = col, tgt = tgt)

            C_LIMIT_BAL  W_C_LIMIT_BAL
0  (158000.0, 306000.0]       0.405812
1  (306000.0, 454000.0]       0.626402
2  (454000.0, 602000.0]       0.780805
3  (602000.0, 750000.0]       0.935858
4    (9260.0, 158000.0]      -0.270941

            C_AGE   W_C_AGE
0  (20.946, 31.8] -0.007478
1    (31.8, 42.6]  0.095282
2    (42.6, 53.4] -0.112802
3    (53.4, 64.2] -0.233088
4    (64.2, 75.0] -0.125014

             C_BILL_AMT2  W_C_BILL_AMT2
0  (-30276.283, 25256.6]      -0.044636
1   (135769.8, 191026.4]       0.338218
2   (191026.4, 246283.0]       0.385811
3     (25256.6, 80513.2]      -0.015687
4    (80513.2, 135769.8]       0.139501

            C_BILL_AMT3  W_C_BILL_AMT3
0   (-46384.86, 5445.0]      -0.000692
1  (108589.0, 160161.0]       0.200408
2  (160161.0, 211733.0]       0.307407
3     (5445.0, 57017.0]      -0.048165
4   (57017.0, 108589.0]       0.045909

             C_BILL_AMT4  W_C_BILL_AMT4
0  (-50942.463, 14676.6]       0.033378
1   (145261.8, 210554.4]       0.197759
2     (14676.6, 79969.2]      -0.078374
3   (210554.4, 275847.0]       0.385811
4    (79969.2, 145261.8]       0.142225

              C_BILL_AMT5  W_C_BILL_AMT5
0     (-13154.2, 35063.6]      -0.016592
1  (-61613.089, -13154.2]      -0.530479
2    (131499.2, 179717.0]       0.075657
3      (35063.6, 83281.4]       0.012835
4     (83281.4, 131499.2]       0.119163

              C_BILL_AMT6  W_C_BILL_AMT6
0      (-42348.6, 9927.8]       0.055043
1  (-94886.382, -42348.6]      -1.223626
2    (114480.6, 166757.0]       0.234435
3     (62204.2, 114480.6]       0.014179
4       (9927.8, 62204.2]      -0.085903

           C_PAY_AMT2  W_C_PAY_AMT2
0  (-61.816, 12363.2]     -0.048769
1  (12363.2, 24726.4]      1.244805
2  (24726.4, 37089.6]      1.040119
3  (37089.6, 49452.8]      1.666745
4  (49452.8, 61816.0]      1.652759

           C_PAY_AMT3  W_C_PAY_AMT3
0  (-55.176, 11035.2]     -0.044135
1  (11035.2, 22070.4]      0.918028
2  (22070.4, 33105.6]      0.988636
3  (33105.6, 44140.8]      1.213878
4  (44140.8, 55176.0]      0.959612

           C_PAY_AMT4  W_C_PAY_AMT4
0   (-50.72, 10144.0]     -0.033887
1  (10144.0, 20288.0]      0.677753
2  (20288.0, 30432.0]      0.760936
3  (30432.0, 40576.0]      0.892629
4  (40576.0, 50720.0]      0.745814

             C_PAY_AMT5  W_C_PAY_AMT5
0     (-166.0, 33200.0]     -0.011307
1  (132800.0, 166000.0]      1.415431
2    (33200.0, 66400.0]      1.174269
3    (66400.0, 99600.0]      0.120108
4   (99600.0, 132800.0]      0.673494

   SEX     W_SEX
0    1 -0.123762
1    2  0.083834

   EDUCATION  W_EDUCATION
0          1     0.172040
1          2    -0.082569
2          3    -0.158624
3          4     1.457395
4          5     1.466075
5          6    -0.358629

   MARRIAGE  W_MARRIAGE
0         1   -0.084458
1         2    0.080075
2         3   -0.204083

    PAY_0   W_PAY_0
0      -2  0.606676
1      -1  0.325397
2       0  0.663443
3       1 -0.580398
4       2 -2.072329
5       3 -2.359979
6       4 -1.916774
7       5 -1.357158
8       6 -0.530479
9       7 -1.916774
10      8 -1.000483